* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(246, 243, 240);
    font-family: Arial;
    background: #f5f8ff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    font-family: sans-serif;
    /* font-weight: bold; */
    height: 25px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3 ease;
    font-size: 10px;
}

.navbar:hover {
    color: rgb(7, 31, 118);
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.logo {
    color: rgb(1, 1, 14);
    padding: 10px 20px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
}

.logo span {
    color: blue;
}

.button {
    color: rgb(2, 8, 1);
}

button {
    padding: 5px 20px;
    display: flex;
    cursor: pointer;
    border: none;
    background-color: blue;
    font-size: 10px;
    color: azure;
    border-radius: 6px;
    width: 40px 40px;
    box-sizing: 30%;
}

button:hover {
    background-color: rgb(30, 3, 30);
}

.first {
    display: flex;
    padding: 3% 8%;
    gap: 1px;
}

.left {
    padding: 20px 20px;
    font-size: 18PX;
    width: 50%;
}

.left h1 span {
    color: blue;
}

.left h4 {
    color: rgb(70, 68, 64);
    font-size: 10px;
    padding: 20px 1px;
    font-weight: 200;
}

.right {
    width: 50%;
    position: relative;
}

.right img {
    max-width: 100%;
    height: auto;
    top: -20px;
}

.btn {
    padding: 0px 40px;
    display: flex;
    border: none;
    margin: 20px;
}

.btn button {
    background-color: rgb(19, 21, 21);
    font-weight: bold;
}

.feild {
    display: flex;
    gap: 90px;
    height: 6PX;
    width: 500PX;
    background-color: white;
    align-items: center;
    padding: 30PX 110PX;
    justify-content: space-between;
   
    position: absolute;
    margin-left: 90PX;
    margin-bottom: 500PX;
    border-radius: 10px;
}

.label {
    font-weight: bold;
    margin-right: 20px;
    font-size: 10px;
}

.loction select {
    border: none;
    margin-right: -100px;
    font-size: 10px;
}

.label2 {
    font-weight: bold;
    font-size: 10px;
}

#date {
    border: none;
    font-size: 10px;
}

.LABEL3 {
    font-weight: bold;
    font-size: 10px;
}

.person select {
    border: none;
    font-size: 10px;
}

.btn2 button {
    padding: 10px 30px;
    border-radius: 10px;
    box-sizing: 3px;
    font-weight: 5px;
    font-size: 10px;
}

.categories-main {
    margin: 0px 10%;
    padding-top: 70px;
}

.categories h1 {
    font-size: 40px;
}

.categories h5 {
    margin-top: 10px;
    color: rgb(70, 68, 64);
    width: 90;
}

.img-main {
    display: flex;
    gap: 30px;
    width: 200px;
    padding: 20px 150px;
}

.img img {
    height: 260px;
    width: 180px;
    border-radius: 70px 70px;
}

.img-main h3 {
    align-items: center;
    margin-left: 40px;
}

.cart-main {
    padding: 40px 150px;
    display: flex;
    gap: 750px;
}

.cart-t p {
    padding: 15px 0px;
}

.popular {
    padding: 40px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-arrows {
    display: flex;
    gap: 3px;
}

.arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #dbe4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: blue;
    background: #fff;
}

.arrow.active,
.arrow:hover {
    background: blue;
    color: #fff;
}

.cards {
    display: flex;
    gap: 15px;
    margin: 2px 20px 20px;
    padding: 10px 150px;
    height: 330px;
}

.card {
    width: 380px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 92%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 17px;
}

.cardh2 {
    display: flex;
    gap: 9PX;
    align-items: center;
    padding: 10PX;
    margin-bottom: 30px;
    size: 6px;
    font-size: 13px;
    font-family: 2px;
    color: rgb(80, 78, 76);
    margin: 0 5px 17px;
}

.card h3 {
    margin: 1px 13px;
}

.card h2 {
    margin: 0 13px 8px;
    color: #0b0c0c;
    font-weight: bold;
    align-items: center;
}

.cardbtn {
    display: flex;
    gap: 130px;
}

.cardbtn button {
    align-items: center;
    border-color: blue;
    background-color: #f0f1f8;
    color: blue;
    border-color: 1px solid rgb(229, 229, 236);
}

.cardbtn button:hover {
    background-color: blue;
    color: white;
}

/*========================= booking cars and hotel ================================= */

.booking {
    width: 100%;
    display: flex;
    max-height: 100vh;
}

.leftbooking {
    width: 50%;
    margin-top: 40px;
}

.bookingpart {
    justify-items: center;
    width: 80%;
    margin-left: 10rem;
    background-color: rgba(172, 229, 255, 0.829);
    border-radius: 5px;
}

.bookingpart1 {
    padding: 0.5rem 10px;
}

.bookingpart h1 {
    padding: 1rem 0;
    font-family: 'Courier New', Courier, monospace;
}

.explorebooking {
    align-items: center;
    justify-items: flex-start;
    text-align: center;
    padding: 5px;
    /* display: flex; */
    gap: 3rem;
}

.btnexp {
    border: 100%;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #dbe4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(254, 254, 255);
    background: #1900ff;
}

.bookingright {
    width: 50%;
}

.bookingright img {
    width: 55%;
    padding: 0 100px 0;
    align-content: center;
}

.clientr {
    margin-left: 16px;
    padding: 40px 150px;
}

.clientleft {
    align-items: center;
    display: flex;
    gap: 450px;
}

.clientarrows {
    margin-left: 160px;
    display: flex;
}

.clientr h3 {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #424140;
}

.clientimg img {
    height: 500px;
    margin-left: 100px;
}

.c-img {
    display: flex;
    align-content: center;
}

.quetion img {
    height: 80px;
    padding-right: 300px;
}

.clientimg2 {
    margin-top: 70px;
    padding-left: 90px;
}

.jane1 {
    margin-top: 20px;
}

.patiant {
    margin-top: 15px;
}

.star {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 3px;
}

.star h4 {
    margin-top: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    background-color: rgb(15, 14, 14);
    position: sticky;
    font-family: sans-serif;
    /* font-weight: bold; */
}

.logo4 {
    color: rgb(230, 230, 234);
    padding: 10px 20px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
}

.logo4 span {
    color: blue;
}

.navbar2 {
    list-style: none;
    gap: 20px;
    display: flex;
}

.navbar2 li a {
    text-decoration: none;
    color: rgb(240, 232, 232);
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3 ease;
    padding-right: 30px;
}

.navbar2:hover {
    color: rgb(7, 31, 118);
}
